// Hide visually and from screen readers:
.hidden {
  display: none !important;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Removes paddings and margins from an element.
.no-space {
  padding: 0 !important;
  margin: 0 !important;
}
