// Colors
$bb-blue1: #99CCDD;
$bb-blue2: #5599AA;
$bb-off-black: #444444;

// Fonts
$sans-serif-stack: "PT Sans", "Verdana", sans-serif;
$serif-stack: "PT Serif", "Georgia", serif;
$monospace-stack: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
