// Colors
$bb-blue1: #99ccdd;
$bb-blue2: #5599aa;
$bb-orange: #d76b00;
$bb-off-black: #444444;
$bb-inert-gray: #999999;

// Fonts
$sans-serif-stack: "PT Sans", "Verdana", sans-serif;
$serif-stack: "PT Serif", "Georgia", serif;
$monospace-stack: "Lucida Sans Typewriter", "Lucida Console", monaco,
  "Bitstream Vera Sans Mono", monospace;

// Widths / Lengths
$phablet: 580px;
$page-top-border: 7px;
