---
title: Archives
excerpt: A list of past blog posts.
layout: default
permalink: /archives/
redirect_from: /recent-posts
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{ post.date | date: "%Y" }}">{{ currentdate }}</h2>
    <ul class="archive-list">
    {% assign date = currentdate %}
  {% endif %}
      <li>
        <span class="archive-post-date">{{ post.date | date: "%b %-d" }}</span>
        <a href="{{ site.url }}{{ post.url }}">
          <span class="archive-post-title">{{ post.title }}</span>
        </a>
      </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
