---
title: Blog
excerpt: A full list of my blog posts.
layout: default
permalink: /blog/
redirect_from:
 - /blog-archives
 - /recent-posts
 - /planet/feed
 - /planet
 - /archives
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{ post.date | date: "%Y" }}">{{ currentdate }}</h2>
    <ul class="blog-list">
    {% assign date = currentdate %}
  {% endif %}
      <li>
        <span class="blog-post-date">{{ post.date | date: "%b %-d" }}</span>
        <a href="{{ site.url }}{{ post.url }}">
          <span class="blog-post-title">{{ post.title }}</span>
        </a>
      </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
