---
layout: default
permalink: /
slug: home
redirect_from:
 - /web-development
 - /node
 - /frontpage
 - /drupal
 - /planet
---

<h2>Recent Posts</h2>
{% for post in site.posts limit:50 %}
  {% if forloop.first %}
    <ul class="blog-list">
  {% endif %}
      <li>
        <span class="blog-post-date">{{ post.date | date: "%b %-d '%y" }}</span>
        <a href="{{ site.url }}{{ post.url }}">
          <span class="blog-post-title">{{ post.title }}</span>
        </a>
      </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}

<div class="center">
  <a class="all-posts" href="/blog/">See all posts »</a>
</div>
