---
title: Logo Development
excerpt: A testing ground for creating new logo variations.
layout: null
permalink: /logo-dev/
---

{% include logo.html %}

<script id="script-to-execute"></script>

<form id="test-form">
  <fieldset>
    <legend>Script to test:</legend>

    {% assign logo_scripts = site.static_files | where_exp: 'script', 'script.path contains "/assets/js/logo/"' %}
    {% for script in logo_scripts %}
    <p>
      <label>
        <input type="radio" name="script-filename" value="{{ script.name }}">
        <code>{{ script.name }}</code>
      </label>
    </p>
    {% endfor %}
  </fieldset>
</form>

<script>
  (function(d) {
    var formEl = d.getElementById('test-form'),
      scriptEl = d.getElementById('script-to-execute'),
      svgEl = d.querySelector('svg');

    function executeScript(event) {
      var chosenValue = formEl['script-filename'].value;

      if (chosenValue) {
        scriptEl.src = '/assets/js/logo/' + chosenValue;
        svgEl.innerHTML
      }
    }

    function cleanEventListeners() {
      var temp = svgEl.innerHTML;
      svgEl.innerHTML = '';
      svgEl.innerHTML = temp;
    }

    formEl.addEventListener('change', function (event) {
      cleanEventListeners();
      executeScript();
    });

    executeScript();
  })(document);
</script>
