---
title: Projects
layout: default
excerpt: A list of personal projects I've worked on recently, with links to each one.
permalink: /projects/
---

{% if site.data.projects %}
  <ul class="projects">
    {% for project in site.data.projects %}
      <li class="project">
        <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ project.image }}" alt="{{ project.name }}" title="{{ project.name }}" typeof="foaf:Image" />
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
<div class="center">
  <div margin-bottom="0.5rem">See more of my projects and code <a href="https://github.com/bryanbraun">on Github.</a></div>
  <div>Also see: <a href="https://seesparkbox.com/foundry/joy_skill_career_and_money_how_i_choose_a_side_project">how I choose a side project</a></div>
</div>
