_site
.sass-cache
.jekyll-metadata
.DS_Store
.vscode

# This file is only in the project to assist with gem installs. We
# don't check it in because it won't actually control anything on
# Github's servers. For best results, use a Ruby version locally that
# matches the one used on Github's servers (which can be found here):
# https://pages.github.com/versions.json
.ruby-version

# We ignore the gem lockfile because we're using the Github pages
# gem, which does strict versioning of dependencies for us. See:
# http://ben.balter.com/jekyll-style-guide/gitignore/#gemfilelock
Gemfile.lock

# I'm going to ignore drafts because I can't think of a reason I'd
# want to push unfisnished posts up to github.
_drafts
