# Site settings
title: Bryan Braun - Student of Life
email: bbraun7@gmail.com
description: # Not currently using this.
logo: /assets/images/logo.png
url: https://www.bryanbraun.com # the base hostname & protocol for your site, e.g. http://example.com
author: Bryan Braun
repository: bryanbraun/bryanbraun.github.io
timezone: America/New_York
host: 0.0.0.0 # This lets us test on devices locally. See http://stackoverflow.com/a/16608698/1154642
github:
  url: http://localhost:4000 # this gets overridden when the site is deployed on github pages
feed:
  path: rss.xml # preserve the name of my Drupal RSS feed b/c I can, and it's possible that some people are still subscribed to it.

# Build settings
gems:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-relative-links
exclude:
  - Gemfile
  - Gemfile.lock
sass:
  sass_dir: assets/_sass
  style: compressed
include: ["_pages"]
# See HTML compression settings at http://jch.penibelst.de/#configuration
#   Don't use inline javascript slash-comments with this enabled (`//`), or you'll
#   see JS errors. See other caveauts here: http://jch.penibelst.de/#restrictions
compress_html:
  clippings: all
  comments: all
  endings: all
  startings: [html, head, body]
  ignore:
    envs: []
  blanklines: false
  profile: false

# Content settings
permalink: pretty
collections:
- books
defaults:
  -
    scope:
      path: ""      # all files
      type: posts   # limit to posts
    values:
      is_post: true # automatically set is_post=true for all posts
      comments: true
      layout: post


# Custom Vars
branch: master  # the branch my live site is deployed to.

# When I first set up my site, I used full URLs as disqus page identifiers, which
# was kind of a mistake:
#
#   What I should have done:
#     this.page.identifier = "/2016/05/14/underdogs"
#
#   What I did:
#     this.page.identifier = "http://www.bryanbraun.com/2016/05/14/underdogs"
#
# The page identifier has to stay the same, or you'll lose your comments, which is
# what happened when I changed my site.url variable from `http://` to `https://`
# (to include images appropriately inside https pages). It looks like it's possible
# to update page identifiers but it's through an API and looks like a process.
# Here's some details if I want to try it in the future:
# https://disqus.com/home/channel/discussdisqus/discussion/channel-discussdisqus/migration_new_identifiers_same_urls/
#
# In the mean time, I maintain the older form of the site url as `disqus_url`, which has
# no purpose but to provide consistant page identifiers so comments can be preserved.
#
# For more details on how identifiers work, see:
#  - https://help.disqus.com/customer/portal/articles/472099-what-is-a-disqus-identifier-
#  - https://help.disqus.com/customer/portal/articles/472098-javascript-configuration-variables
#  - https://help.disqus.com/customer/en/portal/articles/2158629-use-configuration-variables-to-avoid-split-threads-and-missing-comments
disqus_url: http://www.bryanbraun.com
