<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- facebook open graph tag logic from http://www.bebetterdeveloper.com/deployment/sharing-a-blog-post-hosted-on-github-pages.html -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.logo | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bryan Braun, Personal Blog, Web Developer">
    <meta name="robots" content="follow, index">

    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/bryanbraun" title="BryanBraun.com RSS">
</head>
