<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="callout">
  <form class="validate subscribe" action="//bryanbraun.us14.list-manage.com/subscribe/post?u=da79bd19f7387b5c5b8559c1f&amp;id=4ca76278b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" rel="noopener noreferrer" novalidate>
    <div class="subscribe-text">
      <p>If you liked this, subscribe and get future posts in your inbox:</p>
    </div>
    <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <label for="mce-EMAIL" class="visuallyhidden">Email Address</label>
        <input type="email" value="" name="EMAIL" class="subscribe-email required email" placeholder="you@email.com" id="mce-EMAIL">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_da79bd19f7387b5c5b8559c1f_4ca76278b4" tabindex="-1" value="">
      </div>
      <div class="subscribe-button-wrap">
        <input class="button subscribe-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
