body {
  font-family: var(--serif-stack);
  margin: 0;
  padding: 0 1rem; /* page padding for mobile */
  border-top: var(--page-top-border) solid var(--bb-blue1);
  color: var(--bb-off-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif-stack);
  font-weight: normal;
}

/* These headings are identical, to discourage unnecessary hierarchy. */
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 1.333rem 0;
}

a {
  color: var(--bb-blue2);
}
a:hover {
  color: var(--bb-orange);
}


::selection {
  color: #ffffff;
  background-color: var(--bb-blue2);
}

img {
  max-width: 100%;
}

video,
video::-webkit-media-controls-panel {
  cursor: pointer;
}

blockquote {
  font-style: italic;
  margin: 2em 40px;
}

figcaption {
  text-align: center;
  font-size: 0.8rem;
}

code,
samp,
kbd {
  font-family: var(--monospace-stack);
  font-size: 0.875rem;
  padding: 0 6px;
  text-align: left;
}

pre {
  font-family: var(--monospace-stack);
  font-size: 0.875rem;
  margin: 1.75rem 0;
  overflow: auto;
  padding: 0 0 0 1.5rem;
}

/* Override 'code' css rules if using 'pre > code' markup. */
pre > code {
  padding: 0px;
}

/* Styles for default (markdown) tables. */
th,
td {
  text-align: left;
  vertical-align: top;

  /* For tables that don't have enough data to push it to be full width,
     this padding provides a small bit of breathing room between columns. It
     seemed to be a better solution then forcing 100% width on all markdown tables.
  */
  padding-right: 5px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: var(--bb-border-rule);
  margin: 2.5rem 0;
  padding: 0;
}

.section-divider {
  text-align: center;
  border: none;
  overflow: visible;
  position: relative;
}
.section-divider::before {
  content: '...';
  color: #bbb;
  font-size: 1.25rem;
  letter-spacing: 8px;
  position: absolute;
  top: -20px;
}

.site-header {
  /* cancel out page padding for navigation */
  margin-left: -1rem;
  margin-right: -1rem;
}

.main-nav ul {
  list-style-type: none;
  margin-top: 0.75rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 580px) {
  .main-nav ul {
    justify-content: flex-end;
    margin: 0;
  }
}

.main-nav a {
  font-family: var(--sans-serif-stack);
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bb-inert-gray);
  padding: 0.375rem 1rem;
  display: block;
}
@media (min-width: 580px) {
  .main-nav a {
    padding: 1.5rem 1.75rem;
  }
}

.main-nav a:hover {
  color: var(--bb-off-black);
}
.main-nav a:hover path {
  fill: var(--bb-off-black);
}
.main-nav a.is--active {
  color: var(--bb-off-black);
}

.logo-section {
  margin: 2rem auto 4rem;
  width: 222px;
}
/* Intrinsic ratio prevents content jump when image loads. */
.logo-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
.logo {
  position: absolute;
  width: 100%;
}

.intro {
  display: flex;
  max-width: var(--content-max-width);
  margin: 2rem auto 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.intro__logo .logo-section {
  margin: 0 0 2rem 0;
}
.intro__bio {
  font-size: 1.25rem;
}
.intro__bio p {
  margin: 0;
}
.intro__bio p + p {
  margin-top: 1rem;
}
.intro__more {
  font-family: var(--sans-serif-stack);
  font-size: 14px;
}
.intro__subscribe {
  font-family: var(--sans-serif-stack);
  font-size: 14px;
  background: #eeeeee;
  padding: 4px 8px 4px 4px;
}
.intro__subscribe svg {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}
.intro__subscribe a {
  color: var(--bb-off-black);
}

@media (min-width: 580px) {
  .intro {
    flex-wrap: nowrap;
    margin-bottom: 3rem;
  }
  .intro__logo .logo-section {
    margin: 0;
  }
  .intro__bio {
    margin-left: 2rem;
  }
}

.page-content {
  /* padding: 0.1px; prevents collapsing margins between this box and the child heading,
     without side-effects (I was seeing some with tables using the overflow: auto technique).
     see: http://stackoverflow.com/a/33132624/1154642
  */
  padding: 0.1px;
  max-width: var(--content-max-width);
  margin: 0 auto;
  line-height: 1.5; /* designed to be inherited by all page-content. */
}

.page-title,
.article-title {
  text-align: center;
}

.article-meta {
  font-family: var(--sans-serif-stack);
  font-size: 0.875rem;
  text-align: center;
  color: #666;
  margin: 1.5rem 0;
}
.article-content img {
  padding: 2rem 0;
}
.article-content figure {
  margin-left: 0;
  margin-right: 0;
}
.article-content figure img {
  padding: 1rem 0;
}
.article-content figcaption {
  padding-bottom: 1rem;
}

.edit-link-wrapper {
  text-align: right;
}
.edit-link {
  font-family: var(--sans-serif-stack);
  font-size: 0.75rem;
}

.related-inline {
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
}
.related-inline--title {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 5px;
}

.site-footer {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
}

.site-footer > p {
  font-family: var(--sans-serif-stack);
  font-size: 0.75rem; /* 12px */
  margin: 0.25rem; /* 4px */
}

.projects {
  list-style-type: none;
  padding: 10px 0 40px;
  margin: 0;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-auto-rows: min-content;
  column-gap: 20px;
  row-gap: 20px;
}
.project {
  border: var(--bb-border-rule);
  font-family: var(--sans-serif-stack);
}
.project a {
  text-decoration: none;
  color: var(--bb-off-black);
}
.project img {
  display: block;
}
.project h2 {
  font-size: 1rem;
  margin: 0;
  display: inline;
  font-weight: bold;
}
.project span {
  font-size: 1rem;
  color: var(--bb-inert-gray);
}
.project__content {
  border-top: var(--bb-border-rule);
  padding: 10px;
  line-height: 1.375;
}

.blog-post-date {
  display: inline-block;
  min-width: 3.75rem;
  color: var(--bb-inert-gray);
}
.home .blog-post-date {
  min-width: 5.5rem;
}
.blog-list {
  list-style-type: none;
  padding-left: 0;
}

.all-posts{
  font-family: var(--sans-serif-stack);
  font-size: 12px;
}

/* Subscribe styles
   The styles are a bit Janky because I don't want to mess with mailchimp's embed
   form too much, for fear that I might break AJAX or validation features.
   I might come back and improve this later if I'm running into edge cases.
*/
.subscribe {
  font-family: var(--sans-serif-stack);
  padding: 3rem 0;
  margin: 2rem 0;
  text-align: center;
  border-bottom: var(--bb-border-rule);
  border-top: var(--bb-border-rule);
}
.subscribe-text p {
  margin: 0 0 0.5rem 0;
}
.subscribe-form {
  margin: 0 auto;
}
.subscribe-email {
  background-color: #ffffff;
  border-left: 1px solid rgba(100, 100, 100, 0.22);
  border-right: 1px solid rgba(100, 100, 100, 0.22);
  border-bottom: 1px solid rgba(100, 100, 100, 0.22);
  border-top: 1px solid transparent;
  border-radius: 3px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4);
  padding: 3px 0 3px 6px;
  font-size: 14px;
  margin: 3px 10px;
  height: 32px;
}
.mc-field-group {
  display: inline-block;
}
.mce_inline_error {
  display: inline-block;
  vertical-align: top;
}

.subscribe-button-wrap {
  display: inline-block;
  vertical-align: top;
}
.subscribe-button {
  line-height: 34px;
  border: 0;
  border-radius: 3px;
  margin: 4px 10px 3px 10px;
  font-size: 14px;
  color: #ffffff;
  background-color: var(--bb-blue1);
  vertical-align: top;
  width: 120px;
  display: inline-block;
}
.subscribe-button:hover {
  background-color: var(--bb-blue2);
  cursor: pointer;
}

.comments {
  text-align: center;
}

/* The default table is mostly browser defaults and basically unstyled (no border, etc). */
/* Cancel top-margin for common first elements inside of table cells. */
table td > pre:first-child {
  margin-top: 0;
}
table td > p:first-child {
  margin-top: 0;
}

/* Alternative tables will have one of these classes applied to the table element. */
.bb-table1 {
  border-collapse: collapse;

  /* horizontal scrolling on mobile */
  display: block;
  overflow-x: auto;
}
.bb-table1 td,
.bb-table1 th {
  border: var(--bb-border-rule);
  padding: 8px 8px;
  vertical-align: top;
}
.bb-table1 pre {
  margin: 1rem 0;
  padding-left: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons img {
  width: 2rem;
  margin: 0 0.75rem;
}
