/* Hide visually and from screen readers: */
.hidden {
  display: none !important;
}

.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}

/* Hide only visually, but have it available for screen readers: */
/* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Removes paddings and margins from an element. */
.no-space {
  padding: 0 !important;
  margin: 0 !important;
}

.fake-link {
  color: var(--link-1-color);
  text-decoration: underline;
  cursor: pointer;
}

/* This class is intended to be used on a <blockquote> element */
.big-quote {
  font-size: 24px;
  font-style: italic;
  color: #717171;
  margin: 2rem 0;
}
.big-quote .quotee {
  font-family: var(--sans-serif-stack);
  font-size: 16px;
  margin-top: 1rem;
}

.big-text {
  font-size: 20px;
}
