---
layout: default
---
<div class="article">
  <header class="article-header">
    <h1 class="article-title">{{ page.title }}</h1>
    <p class="article-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

  <article class="article-content">
    {{ content }}
  </article>

  <footer class="article-footer">
    <a class="edit-link" href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">Edit this article</a>
  </footer>
</div>

{% include mailchimp-subscribe.html %}

{% comment %} Add disqus comments here? {% endcomment %}
