---
layout: default
---
<div class="article">

  <header class="article-header">
    <h1 class="article-title">{{ page.title }}</h1>
    <div class="article-meta">
      <div>{{ page.date | date: "%b %-d, %Y" }}</div>
      {% if page.updated %}
        <div><em>Updated: {{ page.updated | date: "%b %-d, %Y" }}</em></div>
      {% endif %}
    </div>
    <p class="article-meta"></p>
  </header>

  <article class="article-content">
    {{ content }}
  </article>

  <footer class="article-footer">
    <div class="edit-link-wrapper">
      <a class="edit-link" href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">Edit this post</a>
    </div>

    {% if content and page.related and page.related.size > 0 %}
      <div class="related-inline">
        <span class="related-inline--title">Related posts:</span>
        <span class="related-inline--posts">
          {% for related in page.related %}
            {% if forloop.first == true %}{% elsif forloop.last == true %} and {% else %}, {% endif %}

            {% for post in site.posts %}
              {% if post.title == related %}
                <a href="{{ post.url }}">{{ post.title }}</a>
              {% endif %}
            {% endfor %}

          {% endfor %}
        </span>
      </div>
    {% endif %}

  </footer>

</div>

{% include mailchimp-subscribe.html %}

{% if page.comments %}
  {% include comments.html %}
{% endif %}
